html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #f7fff7;
  scroll-behavior: smooth; 
}
::-webkit-scrollbar{
  width:20px
}

::-webkit-scrollbar-track{
  background: white;
}
::-webkit-scrollbar-thumb{
  background: #db1d5c;
}
* {
  box-sizing: border-box;
}

 /* navbar */

 .header {
  max-width: 1880px;
  margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
.title{
  background: #ffffff;
  border: 2px solid black;
    width: 100%;
    height: 12em;
    
  }
  
  .caja{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11em;
  }

.title-luis span{
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'Abril Fatface', cursive;
  /* font-family: 'Kdam Thmor Pro', sans-serif; */
  /* font-family:'Playfair Display', serif; */
  /* font-family: 'Oswald', sans-serif; */
  margin: 1px;
  letter-spacing: 4px;
  font-size:8.1vmax;

  
}

.menu{
  max-width: 1880px;
  margin: auto;
  display: flex;
  border: 2px solid black;
  border-top: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  background: #ffffff;

}
.sticky {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;

} 







.navbar{
  display: flex;
  flex-direction: row;
}
.li{
  text-decoration: none;
  font-family: 'Tiro Devanagari Marathi', serif;
  font-size: 1.5em;
  color: black;
  
}
.navbar a:hover{
  border-bottom: 3px solid #31485F;
}
.cvbox{
  border-left: 1px solid black;
  
background: rgb(0, 0, 0);
display: flex;
justify-content: center;
height: 4em;
align-items: center;
width: 16em;
font-family: 'Abril Fatface', cursive;
}
.cv a{
  text-decoration: none;
  font-size: 2em;
color:rgb(255, 255, 255);


}
/*-------------------------------------------------------------*/
.herobox{
  max-width: 1880px;
  margin: auto;
}
.devbox{
  
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.dev{
  display: flex;
  background: #31485F;
  
}
.devbox{
  display: flex;
  flex-direction: column;
}
.photobox{
  background-color: #F05555;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  border-left: 2px solid black;

}

.animation{
  font-size: 13px;
  font: 16px;
  color: #F7FFF7;
  background: #232932;
  border: 2px solid #000000;
}

.devtitle{
  background-color: #000000;
  box-shadow: 6px 7px 0px 0px #ffffff;
  -webkit-box-shadow: 6px 7px 0px 0px #ffffff; 
  border: 2px solid rgb(255, 255, 255);
  height: 24em;
  width: 61%;
  color: white;
}

.delop h1{
  margin-bottom: 0px;
  font-family: 'Tiro Devanagari Marathi', serif;
  margin-left: 0.5em;
  font-size: 3.7vmax;

}
.desc {
  width: 66%;
    margin-left: 20%;
  letter-spacing: 1px;

}
.desc p{
  font-family: 'Tiro Devanagari Marathi', serif;
  font-weight: 400;
  font-size: 1.5em;
}

/*-------------------------------------------------------------*/

.portafolio {

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.portafolio-titulo{


  font-family: 'Tiro Devanagari Marathi', serif;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;


}

.examplesDev{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #F7FFF7;

    width: 97%;
    max-width: 1440px;
}

.landingImg{
  display: flex;
  width: 100%;
  padding-bottom: 5em; 
}
.landingImg-left{
  font-family: 'Tiro Devanagari Marathi', serif;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

}
.ladingDesc h1{
  font-family: 'Tiro Devanagari Marathi', serif;
}
.ladingDesc p{
  font-size: 1.5em;
}
.ladingDesc{
  font-family: 'Tiro Devanagari Marathi', serif;

  margin-left: 4em;
  align-self: center;
  width: 35em;
}
.ladingPage img{
  width: 100%;
  max-width: 500px;
  height: auto;
}
.ladingDesc-left p{
  font-size: 1.5em;
}
.ladingDesc-left{
 
    margin-right: 4em;
    align-self: center;
    width: 35em;
  
}
/*-----------------------------------------------*/

.skills{
 
  font-family: 'Tiro Devanagari Marathi', serif;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}
.portafolio-titulo{
  align-self: center;
}

.cardDev{
    background-color: #F7FFF7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    justify-content: center;
  }
  .cardDev-box{
    width: 82%;

  }

  .titlebox{
    display: flex;
    margin-bottom: 2em;

  }
  .frontendDev{
    font-family: 'Tiro Devanagari Marathi', serif;
    align-self: center;
    font-size: 3.4em;
    margin-left: 20px;
  }
  
  .descard{
    width: 100%;
    padding-top: 0.5em;
    padding-left: 1em;
    letter-spacing: 1px;  
    font-size: 32px;
    padding-right: 1em;
  }
  .cardDesc{
    box-shadow: -14px -12px 0px -2px #000000;
    background-color: #82D1EA;
    width: 89%;

   
    border: 4px solid black;
    margin-left: 8em;
  }
  .icons{
text-align: center;
  }
  .icons svg{
    margin-right: 5em;
  }


.illustration{
  margin-top: 5em;
  /* margin-right: 15em; */
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------*/
.marquee2 {
  animation-delay: 15s;
}


.marquee {
  
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
}




@keyframes marquee {
0% {
  left: 100%;
}
100% {
  left: -100%
}
}




/* ------------------------------------------------*/

.contact{
  display: flex;
justify-content: center;
  margin-top: 5em;
  font-family: 'Tiro Devanagari Marathi', serif;
}

.emailbox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 6px 7px 0px 0px #ffffff;
  background: black;
  color: white;
  text-transform: uppercase;
}

.emailfield{
  display: flex;
  width: 50%;
  justify-content: center;
}

.emailfield input{
  width: 31em;
    /* text-align: center; */
    /* display: flex; */
    height: 3em;
    align-self: center;
}

.socialmedia{
  text-align: center;
}
.socialmedia h1{
  margin-top: 1em;
}
.iconsvgSociall{
  text-align: center;
}
.iconsvgSociall svg{
  margin-left: 3em;
}

@media (max-width: 1288px) {

.portafolio-titulo svg{
  height: 5em;
  width: 100%;
}
.descard{
  font-size: 26px;
}

.devtitle{
  width:75%;

}
}

@media (max-width:1024px){

  .devtitle{
    height: 20em;
  }
  .portafolio-titulo svg{
    height: 4.5em;
  }
  .sticky{
    height: 3.8em;

  }
  .icons svg{
    margin-right: 2em;
    height:6em
  }
  .cardDesc{
    width: 100%;
  }
  .illustration svg{
    height: 33em;
    margin-right:0px
  }
}

@media (max-width:768px){
  .li{
    font-size: 1.2em;
    margin-right: 1em;
  }
  .cv a{
    font-size: 1.4em;
  }
  .caja span{
    font-size: 8.3vw;
  }
  .title{
    height: 7em;

  }
  .caja{
    height: 7em;
  }
  .devtitle {
    height: 20em;
    width: 80%;}
  
  .delop h1{
    font-size: 2.5em;

    }
    .desc p{
      font-size: 1em;

    }
  .portafolio-titulo svg{
    height: 4em;
  }
  .landingImg {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ladingPage img {
    width: 66%;
    margin-bottom: 2em;
    max-width: 500px;
    height: auto;
}
.landingImg-left{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.landingImg-left img {
  width: 80%;
  max-width: 500px;
  height: auto;

}
.ladingDesc{
      margin-left: 0px;
}
.ladingDesc-left{
  margin-left: 4em;
}

.frontendDev{
  font-size: 2.6em;

}
.cardDev-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.cardDesc{
  margin: 0px 2em;
  height: 26em;
}

.icons svg{
  margin-right: 1em;
  height: 5em;
}
.illustration svg{
  height: 28em;
}
}
@media (max-width:425px){
  .menu{
    display: none;
  }
  .caja{
    height: 10em;
  }
  .caja span{
    font-size:3.5em;
  }
  .title{
    height: 10em;

  }
  .dev{
    flex-direction: column;
  }
  .photobox{
    width: 100%;
    height: 50vh;

  }
  .devtitle{
    height: 16em;
    width: 80%;
  }
  .devbox{
    width: 100%;
    height: 50vh;
  }

  .delop h1{
    font-size: 2.6em;
  }
  .desc{
    width: 74%;

  }
  .desc p {
    font-size: 1.1em;
  }
  .ladingDesc{
    width: 0;
   
    width: 425px;
    margin-left:0;
  }
  .ladingDesc p{
    text-align: justify;
    margin-left: 43px;
    font-size: 1.1em;
    margin-right: 2em;
  } 
  .landingImg img{
    width: 100%;
  }
  .landingImg{

    padding-bottom: 2em;
  }
  .ladingPage{
    width: 425px;
  }
  .examplesDev{
    width: 425px;
  }
  .ladingDesc-left{
    width: 0;
    align-self: flex-start;
    width: 425px;
    margin-left:0;
  }
  .ladingDesc-left p{
    text-align: justify;
    margin-left: 43px;
    font-size: 1.1em;
    margin-right: 2em;
  }
  .ladingDesc-left h1{
    text-align: center;
  }
  .ladingDesc h1{
    text-align: center;
  }
  .svg{
    display: none;
  }
  .frontendDev{
    font-size: 3em;
    width: 100%;
    margin-right: 0.5em;
  }

  .descard{
    font-size: 22px;
  }
  .icons{
    display: none;
  }
  .illustration{
    display: none;
  }
  .emailbox h1{
    font-size: 1.3em;
  }
  .emailfield{
    width: 78%;
  }
  .iconsvgSociall svg{
    height: 75px;
  }
  .cardDesc {
    margin: 0px 0em;
    height: 26em;

    width: 105%;
}
}